<div class="container ">
    <div class="row ">
        <div class="col-sm text-center ">

                <h4 >{{artist.name}}</h4>
                {{#if artist.member_of.name}}
                <p>Member of <a href="/catalog/bands/{{artist.member_of._id}}">{{artist.member_of.name}}</a></p>
                {{/if}}
                <p>{{artist.description}}</p>
                {{#if releases}}
                <h2>Releases</h2>
                <ul class="list-unstyled">
                    {{#each releases}}
                    <li><a href="/catalog/releases/{{_id}}">{{title}}</a></li>
                    {{/each}}
                </ul>
                {{/if}}
        </div>
    </div>
    <div class="row justify-content-sm-center">
        <div class="col-sm-2"><a href="/catalog/artists/{{artist._id}}/update" class="btn btn-primary">Update Artist</a></div>
        <div class="col-sm-2"><a href="/catalog/artists/{{artist._id}}/delete" class="btn btn-primary">Delete Artist</a></div>
    </div>
</div>