<div class="container">
    <form method="POST" action="" >
    <div class="form-group">
        <label for="name">Name</label> 
        <input type="text"  name="name" class="form-control" required="true" value="{{#if artist}} {{artist.name}} {{else}} {{/if}}" />
    </div>
    <div class="form-group">
        <label for="artist band">Member of</label>
        <select class="form-control"  name='member_of' value="{{#if artist.member_of}}{{artist.member_of._id}}{{else}}{{/if}}">
            {{#each bands}}
            <option name="band" value="{{_id}}" {{#if (isEqual _id ../artist.band._id)}} selected {{/if}}>
                 {{name}}
            </option>
            {{/each}}
            <option >
                None
            </option>
        </select>
    </div>
    <div class="form-group d-flex flex-column">
        <label for="description">Description</label>
        <textarea name="description" id="" cols="30" rows="3" style="resize:none;" class="formcontrol">{{#if artist.description}}{{artist.description}}{{else}}{{' '}}{{/if}}</textarea>
    </div>

    <div class="form-group">
       <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
{{#each errors}}
<p>{{msg}}</p>
{{/each}}
</div>