<div class="container ">
    <div class="row ">
        <div class="col-sm text-center ">

                <h4 class="text-center">{{band.name}}</h4>
                {{#if band.members}}
                  <p>Members
                        {{#each band_members}}
                        <span>{{name}}</span>
                        {{/each}}
                    </p>
                {{/if}}

                {{#if releases}}
                    <h2>Releases</h2>
                    <ul class="list-unstyled">
                        {{#each releases}}
                        <li>{{title}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
              
        </div>
    </div>
    <div class="row justify-content-sm-center">
        <div class="col-sm-2"><a href="/catalog/bands/{{band._id}}/update" class="btn btn-primary">Update Band</a></div>
        <div class="col-sm-2"><a href="/catalog/bands/{{band._id}}/delete" class="btn btn-primary">Delete Band</a></div>
    </div>
</div>