<div class="content">
    {{#if conflicting_items.length}}
        <h3>Please delete the following releases before proceeding:</h3>
        {{#each conflicting_items}}
            <p>
                <a href='/catalog/releases/{{_id}}'>{{title}}</a>
            </p>
        {{/each}}
    {{else}}
    <h3>Are you sure you want to delete {{item.title}} {{item.name}}  </h3>

    <form method="POST" action="">
        <div class="form-group">
            <input type="hidden" name="id" required="true" value="{{item._id}}"/>
            <input type="text" name="password" required="true" placeholder="Enter the password"/>
            <button class="btn-primary" type="submit">Delete</button>
        </div>
            
        </div>
    </form>
    {{/if}}
</div>