<div class="container ">
    <div class="row ">
        <div class="col-sm text-center ">

                <h4 class="text-center">{{genre.name}}</h4>
                <p>{{genre.description}}</p>
                   {{#if releases}}
                    <h2>Releases</h2>
                    <ul class="list-unstyled">
                        {{#each releases}}
                        <li><a href="/catalog/releases/{{_id}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                {{/if}}
        </div>
    </div>
    <div class="row justify-content-sm-center">
        <div class="col-sm-2"><a href="/catalog/genres/{{genre._id}}/update" class="btn btn-primary">Update Genre</a></div>
        <div class="col-sm-2"><a href="/catalog/genres/{{genre._id}}/delete" class="btn btn-primary">Delete Genre</a></div>
    </div>
</div>