<div class="container">
    <div class="text-center w-100">
        <img src='/images/{{release.cover}}' style="width:200px;" />
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
             
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text"  name="title" class="form-control" required="true" value="{{#if release}} {{release.title}} {{else}} {{/if}}" />
        {{#if release.cover}}

        <label for="cover" class="mt-2">Change Cover</label>
       
        {{else}}
        <label for="cover" class="mt-2">Add Cover</label>
        {{/if}}

        <input type="file" name="cover" class="form-control"value="{{#if release.cover}}{{'/images/{{release.cover}}'}}{{else}}{{/if}}" />
    </div>
    <div class="form-group">
        <label for="artist band">By</label>
        <select class="form-control" required="true" name='creator' value="{{#if release.band}}{{release.band._id}}{{else}}{{release.artist._id}}{{/if}}">
            {{#each bands}}
            <option name="band" value="{{_id}}" {{#if (isEqual _id ../release.band._id)}} selected {{/if}}>
                 {{name}}
            </option>
            {{/each}}
            {{#each artists}}
              <option value="{{_id}}" name="artist" {{#if (isEqual _id ../release.artist._id)}} selected {{/if}}>
                {{name}}
            </option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for='genre'>Genre</label>
        <select class="form-control" name="genre" required="true" value='{{#if release.genre._id}}{{release.genre._id}}{{else}}{{''}}{{/if}}'>
            {{#each genres}}
                <option  value="{{_id}}" {{#if (isEqual _id ../release.genre._id)}} selected {{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </div>
    <div class="rating">
        <label>Rating</label>
        <input type='hidden' class='rating_input' value="{{#if release.rating}}{{release.rating}}{{else}}{{'1'}}{{/if}}" name="rating" />
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
         <i class="rating__star far fa-star"></i>
   </div>

    <div class="form-group d-flex flex-column">
        <label for="description">Description</label>
        <textarea name="description" id="" cols="30" rows="3" style="resize:none;" class="formcontrol">{{#if release.description}}{{release.description}}{{else}}{{' '}}{{/if}}</textarea>
    </div>
  
    <div class="form-group">
       <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    <div class="form-group">

    </div>
</form>
</div>

<script src="/javascripts/stars.js">
    
</script>
